Let's make you a character. Copy the following text (including the backticks) and fill in the blanks. Then send it back with the
command `!character create` and the filled in template. This will return a new character.
\`\`\`
{{ character_prompts }}
\`\`\`